body {
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#container {
  margin: 16px auto;
}

#board {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  user-select: none;
}

#board li {
  background: #00aaff;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
}

#board li.pressed {
  background: #ccc;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

#timer {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: right;
}

#btn {
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}

#btn:active {
  padding-top: 12px;
  box-shadow: none;
}

.reset{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  width: 320px;
  height:60px;
  font-size:1.6em;
  padding:0;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 30px auto;
  text-align : center ;
}
.reset:hover{
  background:#fff;
  color:#1AAB8A;
}
.reset:before,.reset:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.reset:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.reset:hover:before,.reset:hover:after{
  width:100%;
  transition:800ms ease all;
}

.rst{
  text-align: center;
}